.auth-overlay{
  position:fixed;
  inset:0;
  background:rgba(0,0,0,0.55);
  backdrop-filter:blur(6px);
  display:flex;
  justify-content:center;
  align-items:center;
  z-index:9999;
}

.auth-modal{
  width:380px;
  background:#ffffff;
  border-radius:24px;
  padding:35px 30px;
  position:relative;

  box-shadow:
    0 10px 25px rgba(0,0,0,0.15),
    0 20px 60px rgba(0,0,0,0.2);

  animation:modalPop 0.25s ease;
}

@keyframes modalPop{

  from{
    transform:scale(0.9);
    opacity:0;
  }

  to{
    transform:scale(1);
    opacity:1;
  }
}

.auth-close{
  position:absolute;
  top:18px;
  right:20px;
  font-size:22px;
  cursor:pointer;
  color:#444;
}

.auth-title{
  text-align:center;
  margin-bottom:25px;
  font-size:32px;
  font-weight:700;
  color:#1d1d1d;
}

.auth-input{
  width:100%;
  margin-bottom:15px;
  padding:14px 16px;
  border-radius:14px;
  border:1px solid #dcdcdc;
  background:#f7f7f7;
  font-size:15px;
  outline:none;
  transition:0.2s;
  color:#222;
}

.auth-input:focus{
  border-color:#2e7d32;
  background:#fff;
  box-shadow:0 0 0 4px rgba(46,125,50,0.12);
}

.auth-btn{
  width:100%;
  padding:14px;
  border:none;
  border-radius:14px;
  background:#2e7d32;
  color:white;
  font-size:16px;
  font-weight:600;
  cursor:pointer;
  transition:0.25s;
}

.auth-btn:hover{
  background:#1b5e20;
  transform:translateY(-2px);
}

.auth-switch{
  text-align:center;
  margin-top:18px;
  font-size:14px;
  color:#555;
}

.auth-switch span{
  color:#2e7d32;
  font-weight:600;
  cursor:pointer;
}